#main-view {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#main-view #user-count {
  border: solid 1px var(--gaia-header-button-color) !important;
  padding: 10px;
  border-radius: 5px;
  transition: opacity 200ms 0ms !important;
}
