body {
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  font-family: fira sans, droid sans fallback;
  font-weight: normal;
  background-color: var(--background);
  color: var(--text-color);
}

#main {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

gaia-header > button {
  transition: opacity 200ms 0ms !important;
}

gaia-drawer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

gaia-drawer > #drawer-main {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 200px);
  max-height: calc(100vh - 95px);
}

gaia-drawer #network-list {
  flex: 1 1 0%;
  overflow-y: scroll;
  color: var(--text-color);
  background-color: var(--background);
}

gaia-drawer > div > #drawer-buttons {
  position: relative;
  display: flex;
  background-color: var(--background-plus);
}

gaia-drawer > div > #drawer-buttons > div {
  margin: 0 auto;
}

#channel-button {
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 1.5rem !important;
}

#content {
  flex: 3 3 0%;
  overflow-y: scroll;
  padding: 1rem;
}
#input {
  width: 100%;
}

@media all and (max-height: 10rem) {
  gaia-header {
    visibility: collapse;
  }
}

gaia-drawer[open] {
  pointer-events: auto !important;
}
