body {
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
}

#main {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

gaia-header{
}

gaia-drawer{
  position: absolute;
  /*display: block;*/
  width: 100%;
  min-height: 100%;
  z-index: 1;
}

gaia-drawer li {
  padding: 0 1.5rem;
  border: solid 1px #eee;
}

#content {
  flex: 3 3 0%;
  overflow-y: scroll;
  padding: 1rem;
}
#input {
  width: 100%;
}


@media all and (max-height: 10rem) {
  gaia-header {
    visibility: collapse;
  }
}
