body {
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
}

#main {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

gaia-header > button {
  transition: opacity 200ms 0ms !important;
}

gaia-drawer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  /*display: block;*/
}

gaia-drawer > div {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 200px);
  max-height: calc(100vh - 95px);
}

gaia-drawer > div > #drawer-list {
  flex: 1 1 0%;
  overflow-y: scroll;
}

gaia-drawer > div > section > h2 {
  text-indent: 1.5rem;
  margin: 0;
  padding: .5rem 0;
  border-bottom: solid 1px #eee;
}

gaia-drawer > div > section > ul {
  padding: 0;
  margin: 0;
  text-indent: 3rem;
}

gaia-drawer > div > section > ul > li {
  border-bottom: solid 1px #eee;
}

gaia-drawer > div > #drawer-buttons {
  display: flex;
}

gaia-drawer > div > #drawer-buttons > div {
  margin: 0 auto;
}

#content {
  flex: 3 3 0%;
  overflow-y: scroll;
  padding: 1rem;
}
#input {
  width: 100%;
}

@media all and (max-height: 10rem) {
  gaia-header {
    visibility: collapse;
  }
}
