/*
 * Main Window
 */
body {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: fira sans, droid sans fallback;
  font-weight: normal;
}

body > div[ui-view] {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition-duration: 200ms;
  transition-property: none;
}

body > div[ui-view][type=main].ng-animate {
  z-index: -10;
}

/*
 * Drawer
 */
gaia-drawer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

gaia-drawer[open] {
  pointer-events: auto !important;
}

gaia-drawer > div {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 200px);
  max-height: calc(100vh - 95px);
  color: var(--text-color);
}

#network-list {
  flex: 1 1 0%;
  overflow-y: scroll;
}

#drawer-buttons {
  position: relative;
  display: flex;
  margin-top: -1px;
  border-top: solid 1px var(--border-color);
  z-index: 3;
}

#drawer-buttons gaia-button {
  flex: 1 1 0%;
  margin: 0px !important;
  border-radius: 0px !important;
  background-color: var(--background) !important;
  box-shadow: none !important;
}

#drawer-buttons gaia-button:not(:last-of-type) {
  border-right: solid 1px var(--border-color);
}

/*
 * Network
 */
#network-list > li {
  position: relative;
  overflow: hidden;
  margin: 0;
  /*line-height: 3.5rem;*/
  font-size: 1.2rem;
  text-overflow: ellipsis;
  -moz-user-select: none;
  cursor: pointer;
}

.network-entry,
.channel-entry {
  position: relative;
  display: flex;
  height: 3.5rem;
  margin: 0;
  padding-right: 1rem;
  border-bottom: solid 1px var(--border-color);
}

.network-entry {
  background-color: var(--background-minus-minus, var(--color-iota));
  z-index: 2;
}

.collapse-indicator {
  position: absolute;
  font-size: 1.5rem;
  width: 3rem;
  text-indent: 1rem;
  line-height: 3.5rem;
  transition: transform 200ms 0ms;
}

.focus-indicator {
  border-radius: .5rem;
  width: .5rem;
  height: .5rem;
  margin: 1.5rem;
  margin-left: 2.5rem;
  margin-right: .5rem;
}

.network-entry[focused] > .focus-indicator,
.channel-entry[focused] > .focus-indicator {
  background-color: var(--highlight-color);
}

.network-text,
.channel-text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.network-name,
.channel.name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.network-info,
.channel-info {
  font-size: .8rem;
}

[status=connected] .network-info {
  color: var(--color-preffered);
}

[status=connecting] .network-info {
  color: var(--color-warning);
}

[status='connection lost'] .network-info {
  color: var(--color-destructive);
}


:not([active]) > .channel-text {
  color: var(--text-color-minus);
}

.counter {
  border-radius: 1rem;
  height: 1.5rem;
  margin: 1rem 0 1rem .5rem;
  padding: 0 0.5rem;
  line-height: 1.5rem;
  color: var(--text-color);
  background-color: var(--background-plus);
  text-indent: 0;
}

.counter[hiudden] {
  display: none;
}

.channel-list {
  padding: 0;
  margin: 0;
  transition: height 200ms 0ms ease, transform 200ms 0ms ease;
  z-index: 1;
  height: calc(var(--actual-height) * 1px);
  background-color: var(--text-input-background, var(--background));
}

#network-list > li[collapsed] .channel-list {
  height: 0;
  transform: translateY( calc(var(--actual-height) * -1px) );
}

#network-list > li[collapsed] .collapse-indicator {
  transform: rotate(-90deg);
}

/*
 * Settings
 */
[ui-view][type=settings] {
  transition-property: opacity;
}

[ui-view][type=settings].ng-enter,
[ui-view][type=settings].ng-leave.ng-leave-active {
  opacity: 0;
}

[ui-view][type=settings].ng-enter.ng-enter-active,
[ui-view][type=settings].ng-leave {
  opacity: 1;
}

gaia-list {
  flex-grow: 1;
  background-color: var(--background);
  -moz-user-select: none;
  overflow-y: auto;
  z-index: 1; /* needed for ripple effect */
}

.config > h2 {
  margin: 0px;
  padding: 0.3rem 2rem;
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--border-color, #E7E7E7);
  color: var(--text-color);
}

gaia-list > li > label {
  background: none;
  display: flex;
  min-height: 42px;
  align-items: center;
}

gaia-list gaia-slider {
  margin: 0px !important;
}

gaia-dialog-select {
  z-index: 1;
}

/* config */
.config {
  overflow-y: auto;
}

gaia-list h3, p {
  padding-left: 1rem;
}
gaia-list emph {
  font-weight: bold;
}
gaia-list gaia-text-input {
  margin: .5rem 0px !important;
}
gaia-list #port {
  width: 5rem !important;
  margin: 0px !important;
}
gaia-list #user,
gaia-list #password {
  width: calc(100% - 7rem);
  margin: 0px !important;
}


/*
 * Dialog
 */
button.danger {
  color: var(--color-destructive) !important;
}

button.primary {
  color: var(--highlight-color) !important;
}
