<gaia-drawer irc-open="drawer.open">
  <div>

    <section data-type="list" id="network-list">
      <li ng-repeat="network in networks"
          ng-attr-collapsed="{{network.collapsed || undefined}}">

        <div class="network-entry"
            ng-attr-status="{{network.status}}"
            ng-attr-focused="{{network.focused || undefined}}"
            ng-click="onNetClick(network)"
            irc-context-menu="onNetContext(network)">
          <span class="collapse-indicator"
                ng-click="network.collapsed = !network.collapsed;
                          $event.stopPropagation();">
            &#9660;
          </span>
          <span class="focus-indicator"></span>
          <span class="network-text">
            <div class="network-name">{{network.name}}</div>
            <div class="network-info">{{network.status}}</div>
          </span>
          <span class="counter"
                ng-attr-hidden="{{network.unreadCount == 0 || undefined}}">
            {{network.unreadCount}}
          </span>
        </div>

        <!-- Keep a wrapper div with unchanged height, so we can collapse and
             restore the outer channel-list element. -->
        <ul class="channel-list" style="--actual-height: {{chanListHeight}}">
          <div irc-client-height="chanListHeight">

            <li class="channel-entry"
                ng-repeat="channel in network.channels"
                ng-attr-active="{{channel.joined || undefined}}"
                ng-attr-focused="{{channel.focused || undefined}}"
                irc-context-menu="onChanContext(channel)">
              <span class="focus-indicator"></span>
                    <!-- ng-click="network.channels.splice($index, 1)" -->
              <span class="channel-text"
                    ng-click="onChanClick(channel)">
                <div class="channel-name">#{{channel.name}}</div>
                <div class="channel-info"></div>
              </span>
              <span class="counter"
                    ng-attr-hidden="{{channel.unreadCount == 0 || undefined}}">
                {{channel.unreadCount}}
              </span>
            </li>

          </div>
        </ul>
      </li>
    </section>

    <div id="drawer-buttons">
      <gaia-button id="add-channel-button"
          ng-disabled="networks.length === 0"
          ui-sref="channel-config({network:current.network.name})">
        #
      </gaia-button>
      <gaia-button id="add-network-button"
          ui-sref="network-config">
        <i data-icon="add" aria-label="Add Network"></i>
      </gaia-button>
      <gaia-button id="settings-button" ui-sref="settings">
        <i data-icon="settings" aria-label="Settings"></i>
      </gaia-button>
    </div>

  </div>
</gaia-drawer>

<gaia-dialog-action irc-dialog="channelDialog"
    on-closed="Ctrl.onChannelDialogClosed()"
    >
  <h1>{{channelDialog.channel.name}}</h1>
  <button ng-if="channelDialog.channel && !channelDialog.channel.joined"
      class="primary">
    Join
  </button>
  <button ng-if="channelDialog.channel.joined">
    Part
  </button>
  <button
      ui-sref="channel-config({
        network:channelDialog.channel.network.name,
        channel:channelDialog.channel.name
      })"
      on-click="close">
    Edit
  </button>
  <button class="danger"
      ng-click="onRemove(channelDialog.channel);">
    Remove
  </button>
</gaia-dialog-action>

<gaia-dialog-action irc-dialog="networkDialog"
    on-closed="Ctrl.onNetworkDialogClosed()"
    >
  <h1>{{networkDialog.network.name}}</h1>
  <button ng-if="networkDialog.network.status=='connected'">
    Disconnect
  </button>
  <button ng-if="networkDialog.network.status=='connecting'">
    Cancel connection
  </button>
  <button ng-if="networkDialog.network.status=='disconnected'"
      class="primary">
    Connect
  </button>
  <button ng-if="networkDialog.network.status=='connection lost'"
      class="primary">
    Reconnect
  </button>
  <button
      ui-sref="network-config({network:networkDialog.network.name})"
      on-click="close">
    Edit
  </button>
  <button class="danger" ng-click="onDelete()">Delete</button>
</gaia-dialog-action>

<gaia-dialog-confirm irc-dialog="confirmDialog"
    on-confirm="confirmDialog.toBeDeleted.delete()"
    >
  Delete {{confirmDialog.toBeDeleted.name}}?
</gaia-dialog-confirm>
