/**
 * Drawer
 */
#menu-view gaia-drawer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#menu-view gaia-drawer[open] {
  pointer-events: auto !important;
}

#menu-view gaia-drawer > div {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 200px);
  max-height: calc(100vh - 95px);
  color: var(--text-color);
  background-color: var(--text-input-background, var(--background));
}

#menu-view #network-list {
  flex: 1 1 0%;
  overflow-y: scroll;
}

#menu-view #drawer-buttons {
  position: relative;
  display: flex;
  margin-top: -1px;
  border-top: solid 1px var(--border-color);
  z-index: 3;
}

#menu-view #drawer-buttons gaia-button {
  flex: 1 1 0%;
  margin: 0px !important;
  border-radius: 0px !important;
  background-color: var(--background) !important;
  box-shadow: none !important;
  min-width: 0px !important;
}

#menu-view #drawer-buttons gaia-button:not(:last-of-type) {
  border-right: solid 1px var(--border-color);
}

#menu-view #drawer-buttons #add-channel-button {
  font-size: 30px !important;
  font-style: normal !important;
  font-weight: 500;
}

/**
 * Network List
 */
#menu-view #network-list > li {
  position: relative;
  overflow: hidden;
  margin: 0;
  /*line-height: 3.5rem;*/
  font-size: 1.2rem;
  text-overflow: ellipsis;
  -moz-user-select: none;
  cursor: pointer;
}

#menu-view .network-entry,
#menu-view .channel-entry {
  position: relative;
  display: flex;
  height: 3.5rem;
  margin: 0;
  padding-right: 1rem;
  border-bottom: solid 1px var(--border-color);
}

#menu-view .network-entry {
  background-color: var(--background-minus-minus, var(--color-iota));
  z-index: 2;
}

#menu-view .collapse-indicator {
  position: absolute;
  font-size: 1.5rem;
  width: 3rem;
  text-indent: 1rem;
  line-height: 3.5rem;
  transition: transform 200ms 0ms;
}

#menu-view .focus-indicator {
  border-radius: .5rem;
  width: .5rem;
  height: .5rem;
  margin: 1.5rem;
  margin-left: 2.5rem;
  margin-right: .5rem;
}

#menu-view .network-entry[focused] > .focus-indicator,
#menu-view .channel-entry[focused] > .focus-indicator {
  background-color: var(--highlight-color);
}

#menu-view .network-text,
#menu-view .channel-text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

#menu-view .network-name,
#menu-view .channel.name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#menu-view .network-info,
#menu-view .channel-info {
  font-size: .8rem;
}

#menu-view [status=connected] .network-info {
  color: var(--color-preffered);
}

#menu-view [status=connecting] .network-info {
  color: var(--color-warning);
}

#menu-view [status='connection lost'] .network-info {
  color: var(--color-destructive);
}


#menu-view :not([active]) > .channel-text {
  color: var(--text-color-minus);
}

#menu-view .counter {
  border-radius: 1rem;
  height: 1.5rem;
  margin: 1rem 0 1rem .5rem;
  padding: 0 0.5rem;
  line-height: 1.5rem;
  color: var(--text-color);
  background-color: var(--background-plus);
  text-indent: 0;
}

#menu-view .counter[hidden] {
  display: none;
}

#menu-view .channel-list {
  padding: 0;
  margin: 0;
  transition: height 200ms 0ms ease, transform 200ms 0ms ease;
  z-index: 1;
  height: calc(var(--actual-height) * 1px);
  background-color: var(--text-input-background, var(--background));
}

#menu-view #network-list > li[collapsed] .channel-list {
  height: 0;
  transform: translateY( calc(var(--actual-height) * -1px) );
}

#menu-view #network-list > li[collapsed] .collapse-indicator {
  transform: rotate(-90deg);
}
