<gaia-header>
  <h1>IRC Settings</h1>
  <button ng-click="back()">Done</button>
</gaia-header>

<gaia-list>
  <li class="ripple">
    <i data-icon="themes"></i>
    <label flex flexbox for="theme-switch">
      <div class=gaia-item-title>
        Dark Theme
      </div>
    </label>
    <gaia-switch id="theme-switch" irc-switch="settings.darkTheme">
    </gaia-switch>
  </li>
  <li>
    <irc-slider flex
        min="6" max="20" unit="pt"
        model="settings.fontSize">
      Font Size
    </irc-slider>
  </li>
  <li>
    <i data-icon="rocket"></i>
    <label flex>
      On Startup
    </label>
    <gaia-value-selector ng-click="onStartupDialog.open()">
      {{settings.onStartup.text}}
    </gaia-value-selector>
  </li>
</gaia-list>

<gaia-dialog-select irc-dialog="onStartupDialog" model="settings.onStartup">
  <h1>On Startup</h1>
  <li value="reset">Reset State</li>
  <li value="restore">Restore Last State</li>
</gaia-dialog-select>
