/* Dialog */
button.danger {
  color: var(--color-destructive) !important;
}
button.primary {
  color: var(--highlight-color) !important;
}

gaia-dialog-alert,
gaia-dialog-select,
gaia-dialog-action {
  z-index: 1;
}
